# Validation
# https://github.com/linkchecker/linkchecker/pull/669#issuecomment-1267236287
linkchecker @ git+https://github.com/linkchecker/linkchecker.git@d9265bb71c2054bf57b8c5734a4825d62505c779
# https://github.com/jimporter/mike/issues/82#issuecomment-1172913929
mike @ https://github.com/jimporter/mike/archive/392d57b8bb9d14bcedf2451a0dc302709f8055eb.zip
mkdocs~=1.4.0
mkdocs-gen-files
mkdocs-git-revision-date-localized-plugin~=1.1.0
mkdocs-glightbox~=0.3.0
# Plugins
mkdocs-include-markdown-plugin
mkdocs-literate-nav
mkdocs-material~=8.5.6
mkdocs-minify-plugin~=0.5.0
mkdocs-redirects~=1.1.0
mkdocs-section-index
mkdocstrings-python~=0.7.1
# Necessary for syntax highlighting in code blocks
pygments~=2.13.0
# Extensions
pymdown-extensions~=9.6.0
